apiVersion: v1
kind: ConfigMap
metadata:
  name: studio-web-client-configmap
  annotations:
    checksum/config: {{ include (print $.Template.BasePath "/studio/web-client/configmap.yaml") . | sha256sum }}
data:
  windowVariables: |
    window.API_ENDPOINT = "{{ .Values.config.connectionType }}://{{ if .Values.backend.ingress.hostName }}{{ .Values.backend.ingress.hostName }}{{ else }}{{ .Values.config.ingressHost }}{{ end }}/api";
    window.KEYCLOAK_URL = "{{ .Values.config.connectionType }}://{{ if .Values.keycloak.ingress.hostName }}{{ .Values.keycloak.ingress.hostName }}{{ else }}{{ .Values.config.ingressHost }}{{ end }}/auth";
    window.KEYCLOAK_REALM = {{ .Values.config.keycloak.realm | quote }};
    window.KEYCLOAK_CLIENT_ID = {{ .Values.config.keycloak.clientId | quote }};
    window.VOICE_INSPECTOR_ENABLED = {{ .Values.webClient.environmentVariables.VOICE_INSPECTOR_ENABLED | quote | default "false" }};
    window.SILENCE_TIMEOUT_ENABLED = {{ .Values.webClient.environmentVariables.SILENCE_TIMEOUT_ENABLED | quote | default "false" }};
    window.EDIT_SYSTEM_RESPONSES_ENABLED = {{ .Values.webClient.environmentVariables.EDIT_SYSTEM_RESPONSES_ENABLED | quote | default "false" }};
    {{- with .Values.webClient.environmentVariables.CURRENT_VERSION_NUMBER }}
    window.CURRENT_VERSION_NUMBER = {{ . | quote | trim }};
    {{- else }}
    window.CURRENT_VERSION_NUMBER = {{ .Values.tag | quote | trim }};
    {{- end }}
