{{- if .Values.strimzi.enabled }}
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: {{ include "op-kits.strimzi.kafkaName" . }}
  namespace: {{ include "op-kits.namespace" . }}
  labels:
    {{- include "op-kits.strimzi.labels" . | nindent 4 }}
  {{- if or .Values.commonAnnotations .Values.strimzi.kafka.annotations }}
  annotations:
    {{- with .Values.commonAnnotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
    {{- with .Values.strimzi.kafka.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  entityOperator:
    topicOperator:
      {{- toYaml .Values.strimzi.kafka.entityOperator.topicOperator | nindent 6 }}
    userOperator:
      {{- toYaml .Values.strimzi.kafka.entityOperator.userOperator | nindent 6 }}
    template:
      {{- if or .Values.tolerations .Values.affinity }}
      pod:
        {{- with .Values.tolerations }}
        tolerations:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.affinity }}
        affinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      {{- end }}
      topicOperatorContainer:
        env:
          - name: STRIMZI_USE_FINALIZERS
            value: {{ if not .Values.strimzi.kafka.entityOperator.disableTopicFinalizer }}"true"{{ else }}"false"{{ end }}
  kafka:
    {{- with .Values.strimzi.kafka.image }}
    # Container image
    image: "{{ .repository }}:{{ .tag }}"
    {{- end }}
    listeners:
      {{- toYaml .Values.strimzi.kafka.listeners | nindent 6 }}
      {{- if .Values.strimzi.kafka.externalListener.enabled }}
      {{- toYaml (list .Values.strimzi.kafka.externalListener.listener) | nindent 6 }}
      {{- end }}
    config:
      {{- toYaml .Values.strimzi.kafka.config | nindent 6 }}
    authorization:
      {{- toYaml .Values.strimzi.kafka.authorization | nindent 6 }}
    {{- if or .Values.tolerations .Values.affinity }}
    template:
      pod:
        {{- with .Values.tolerations }}
        tolerations:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.affinity }}
        affinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
    {{- end }}
{{- end }}
