{{- if .Values.strimzi.enabled }}
{{- range $name, $user := .Values.strimzi.users }}
{{- if $user.enabled }}
{{- if not (eq $name "enabled") }}
---
apiVersion: kafka.strimzi.io/v1
kind: KafkaUser
metadata:
  name: {{ include "op-kits.strimzi.kafkaUserName" (dict "user" $user "root" $) }}
  namespace: {{ include "op-kits.namespace" $ }}
  labels:
    {{- include "op-kits.strimzi.labels" $ | nindent 4 }}
    strimzi.io/cluster: {{ include "op-kits.strimzi.kafkaName" $ }}
  {{- with $.Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- with $user.authentication }}
  authentication:
    type: {{ .type }}
    {{- with .password }}
    password:
      valueFrom:
        secretKeyRef:
          name: {{ .secretName }}
          key: {{ .secretKey }}
    {{- end }}
  {{- end }}
  {{- with $user.authorization }}
  authorization:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
