{{- if .Values.rasa.settings.mountDefaultConfigmap }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "rasa.fullname" . }}-configmap
  labels:
    {{- include "rasa.labels" . | nindent 4 }}
data:
{{- with .Values.rasa.settings.credentials }}
  credentials: |
    {{- toYaml . | nindent 4 }}
{{- end }}
{{- with .Values.rasa.settings.endpoints }}
  endpoints: |
    {{- toYaml . | nindent 4 }}
{{- end }}
{{- end }}
