# Basic values for rasa.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

imagePullSecrets: []
  # - name: regcred

# -- rasaProLicense is license key for Rasa Pro Services.
rasaProLicense:
  secretName: "rasa-secrets"
  secretKey: "rasaProLicense"

# Rasa Open Source
rasa:
  enabled: true
  replicaCount: 1
  image:
    repository: "europe-west3-docker.pkg.dev/rasa-releases/rasa-pro/rasa-pro"
    pullPolicy: IfNotPresent
    tag: "3.8.0-latest"
  settings:
    port: 5005
    scheme: http
    enableApi: true
    mountDefaultConfigmap: true
    mountModelsVolume: true
    credentials:
      rest:
    endpoints:
      action_endpoint:
        url: "/webhook"
      tracker_store:
        type: redis
        url: redis-lockstore-master
        port: 6379
        db: 1
        password: ${REDIS_PASSWORD}
      event_broker:
        type: kafka
        url: rasa-kafka-bootstrap.example-pro.svc:9092
        security_protocol: SASL_SSL
        sasl_mechanism: PLAIN
        sasl_username: ${KAFKA_USER}
        sasl_password: ${KAFKA_PASSWORD}
  service:
    type: ClusterIP
    port: 5005
    targetPort: 5005
  additionalEnv:
    - name: KAFKA_PASSWORD
      valueFrom:
        secretKeyRef:
          name: kafka-secrets
          key: password
    - name: KAFKA_USER
      valueFrom:
        secretKeyRef:
          name: kafka-secrets
          key: username
    - name: REDIS_PASSWORD
      valueFrom:
        secretKeyRef:
          name: redis-secrets
          key: password
# Rasa Pro Services Configuration
rasaProServices:
  enabled: false
  replicaCount: 1
  image:
    repository: "europe-west3-docker.pkg.dev/rasa-releases/rasa-pro/rasa-pro-services"
    tag: "3.2.3-latest"
  service:
    type: ClusterIP
    port: 8732
    targetPort: 8732
  loggingLevel: "INFO"
  database:
    url: ""
  kafka:
    brokerAddress: ""
    topic: "rasa-core-events"
    securityProtocol: "PLAINTEXT"
    saslMechanism: "PLAIN"
    saslUsername: ""
    saslPassword:
      secretName: "rasa-secrets"
      secretKey: "kafkaSslPassword"


# Duckling Configuration
duckling:
  enabled: false
  replicaCount: 1
  image:
    repository: "rasa/duckling"
    tag: "0.2.0.2-r0"
  settings:
    port: 8000
    scheme: http
  service:
    type: ClusterIP
    port: 8000
    targetPort: 8000
  ingress:
    enabled: false
    className: ""
    labels: {}
    annotations: {}
    hosts:
      - host: chart-example.local
        paths:
          - path: /api
            pathType: Prefix
        extraPaths: []
    tls: []

actionServer:
  enabled: false
  replicaCount: 1
  image:
    repository: "rasa/rasa-sdk"
    pullPolicy: IfNotPresent
    tag: "3.6.2"
  settings:
    port: 5055
    scheme: http
  args: []
  service:
    type: ClusterIP
    port: 5055
    targetPort: 5055
  ingress:
    enabled: false
    className: ""
    labels: {}
    annotations: {}
    hosts:
      - host: chart-example.local
        paths:
          - path: /api
            pathType: Prefix
        extraPaths: []
    tls: []
  resources: {}
