---
name: Op-Kits Release Candidate
run-name: Create Op-Kits Release Candidate

on:
  push:
    branches:
      - release/*
    paths:
      - charts/op-kits/**
      - '!charts/rasa/**'
      - '!charts/studio/**'
      - '!replicated/**'

jobs:
  check-chart-versions:
    name: Check chart versions
    runs-on: ubuntu-24.04
    outputs:
      op-kits-version: ${{ steps.check-rc.outputs.chart-version }}
      release-candidate: ${{ steps.check-rc.outputs.is-rc }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check Op-Kits chart version
        id: check-rc
        uses: ./.github/actions/check-chart-rc
        with:
          chart-path: charts/op-kits
          fail-if-not-rc: 'true'

      - name: Release Helm chart
        id: release
        if: steps.check-rc.outputs.is-rc == 'true'
        uses: ./.github/actions/release-helm-charts-oci
        with:
          gcp-identity-provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_OIDC_HELM }}
          gcp-service-account: '${{ secrets.SERVICE_ACCOUNT_OIDC_HELM }}'
          github-repo: '${{ github.repository }}'
          github-ref: '${{ github.ref }}'
          chart-path: 'charts/op-kits'
