name: Rasa Studio Release Candidate
run-name: Create Studio Release Candidate

on:
  push:
    branches:
      - release/*
    paths:
      - charts/studio/**
      - '!charts/rasa/**'
      - '!charts/op-kits/**'
      - replicated/**

jobs:
  release-candidate:
    name: Studio Release Candidate
    runs-on: ubuntu-24.04
    outputs:
      studio-version: ${{ steps.check-rc.outputs.chart-version }}
      release-candidate: ${{ steps.check-rc.outputs.is-rc }}
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check Rasa Studio chart version
        id: check-rc
        uses: ./.github/actions/check-chart-rc
        with:
          chart-path: charts/studio

      - name: Release Helm chart
        id: release
        if: steps.check-rc.outputs.is-rc == 'true'
        uses: ./.github/actions/release-helm-charts-oci
        with:
          gcp-identity-provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_OIDC_HELM }}
          gcp-service-account: '${{ secrets.SERVICE_ACCOUNT_OIDC_HELM }}'
          github-repo: '${{ github.repository }}'
          github-ref: '${{ github.ref }}'
          chart-path: 'charts/studio'  

  promote-replicated-release:
    name: Promote Replicated release
    needs: [release-candidate]
    if: needs.release-candidate.outputs.release-candidate == 'true'
    uses: ./.github/workflows/promote-replicated-release.yml
    with:
      replicated-channel: studio-release-candidate
      replicated-version: ${{ needs.release-candidate.outputs.studio-version }}
      studio-version: ${{ needs.release-candidate.outputs.studio-version }}
      kafka-version: 31.1.0
      postgres-version: 16.3.0 #15.5.29
    secrets: inherit
