name: Rasa Pro Release Candidate
run-name: Create Rasa Pro Release Candidate
on:
  push:
    branches:
      - release/*
    paths:
      - charts/rasa/**
      - '!charts/studio/**'
      - '!charts/op-kits/**'
      - '!replicated/**'

jobs:
  release-candidate:
    name: Rasa Pro Release Candidate
    runs-on: ubuntu-24.04
    outputs:
      pro-version: ${{ steps.check-rc.outputs.chart-version }}
      release-candidate: ${{ steps.check-rc.outputs.is-rc }}
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Check Rasa Pro chart version
        id: check-rc
        uses: ./.github/actions/check-chart-rc
        with:
          chart-path: charts/rasa

      - name: Release Helm chart
        id: release
        if: steps.check-rc.outputs.is-rc == 'true'
        uses: ./.github/actions/release-helm-charts-oci
        with:
          gcp-identity-provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER_OIDC_HELM }}
          gcp-service-account: '${{ secrets.SERVICE_ACCOUNT_OIDC_HELM }}'
          github-repo: '${{ github.repository }}'
          github-ref: '${{ github.ref }}'
          chart-path: 'charts/rasa'  
